@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex
  }

  &__item:not(:last-child) {
    padding-right: 35px;
  }

  &__link {
    color: $default;
    text-transform: uppercase;
    transition: all .3s;
    @extend %roboto-400;

    &:hover {

      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %quicksand-500;
  }
}

.user {
  display: flex;

  &__link+.user__link

  /* :not(:last-child) */
    {
    padding-left: 25px;
  }

  &__link {
    position: relative;
  }

  &__numb {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $accent;
    color: #FFFFFf;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    top: -9px;
    right: -11px;
  }
}




.footer {
  background-color: $bg;
}

.footer-up {
  display: flex;
  padding: 70px 0 35px;
  border-bottom: 1px solid $gray;

  &__item--address {
    margin-right: 60px;
    max-width: 240px;
  }

  &__item--about {
    margin-right: 55px;
    max-width: 149px;
    width: 100%;
  }

  &__item--account {
    max-width: 123px;
    width: 100%;
    margin-right: 75px;
  }

  &__text,
  &__form-input,
  &__item--account,
  &__item--about,
  &__item--address {
    line-height: 36px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__logo {
    margin-bottom: 33px;
  }

  &__title {
    font-size: 22px;
    line-height: 1;
    @extend %roboto-400;
    margin-bottom: 39px;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__icon:not(:last-child) {
    margin-right: 30px;
  }

  &__form-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }


  &__link {
    transition: all 0.3s;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__form-input {
    max-width: 318px;
    width: 100%;
    border: none;
    padding: 10px 12px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__cards {
    display: flex;
    height: 25px;
    align-items: center;
  }

  &__img:not(:last-child) {
    margin-right: 25px;
  }

  &__accept {
    margin-right: 15px;
  }
}

.top-slider {
  background-color: $bg;
  padding-top: 65px;
  background-image: url('../images/decor/slider-abstract.png');

  /*  background-repeat: no-repeat;
  background-size: cover; */
  &__img {
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__container {
    max-width: 1560px;
  }

  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    max-width: 670px;
    width: 100%;
    font-size: 58px;
    line-height: 1.172;
    @extend %roboto-700;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 50px;
    max-width: 470px;
    width: 100%;
  }

  &__more {
    @extend %btn;
    padding: 14px 36px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
    margin-top: -30px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        position: relative;
        border: 1px solid transparent;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50px;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}


.categories {
  padding: 115px 0;
  background-image: url('../images/decor/left-decor.png');
  background-repeat: no-repeat;
  background-position: left;

  &__inner {
    background-image: url('../images/decor/right-decor.png');
    background-repeat: no-repeat;
    background-position: right;
    right: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background-image: url(../images/decor/decor-circle.svg);
      top: -40px;
      left: -45px;
      width: 120px;
      height: 121px;
    }

    &::after {
      background-image: url(../images/decor/decor-dots.svg);
      bottom: -22px;
      right: -22px;
      width: 65px;
      height: 52px;
    }
  }

  &__top-title {
    margin: 40px 0 20px;
    /* color: $title; */
    font-size: 22px;
    @extend %roboto-400;
  }

  &__top-text {
    color: #bfbfbf;
    max-width: 320px;
  }

  &__top-item {
    padding: 55px 40px 50px 30px;
    background-color: #FFFFFf;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    max-width: 370px;
    width: 100%;
    z-index: 1;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    min-height: 630px
  }

  &__bottom-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__bottom-subtitle,
      .categories__bottom-link:hover {
        color: #5800E4;
      }
    }

    &:nth-child(2) {
      padding-top: 0;
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;


      .categories__bottom-subtitle,
      .categories__bottom-link:hover {
        color: $accent;
      }
    }

    &:nth-child(3) {

      .categories__bottom-subtitle,
      .categories__bottom-link:hover {
        color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__bottom-subtitle,
      .categories__bottom-link:hover {
        color: #34c3ff;
      }
    }
  }

  &__bottom-subtitle {
    margin-bottom: 5px;
  }

  &__bottom-title {
    font-size: 22px;
    color: $default;
    margin-bottom: 16px;
  }

  &__bottom-link {
    text-transform: uppercase;
    color: $default;
    @extend %roboto-400;
    transition: all .3s;
  }
}

.tranding {
  background-image: url('../images/decor/bg-pattern.svg');
  background-color: $bg;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__video {
    margin-right: 65px;
    background-repeat: no-repeat;
    block-size: cover;
    max-width: 535px;
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__play {
    text-align: center;
    align-items: center;
  }

  &__descr {
    max-width: 570px;
    width: 100%;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 26px;
    @extend %quicksand-500;
    color: $accent;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__more {
    @extend %btn;
  }

  &__text {
    margin-bottom: 55px;
    color: #d3d3d3;
  }
}

.products {
  padding: 120px 0;
  text-align: center;

  &__text {
    margin-bottom: 55px;
    color: #bfbfbf;
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px 30px;
  }
}

.product {
  max-width: 370px;
  text-align: center;
  margin-bottom: 55px;



  &__item-box {
    overflow: hidden;
    position: relative;
    height: 370px;
    margin-bottom: 25px;

  }

  &__user {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #fff;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 22px;
    transform: translateY(300%);
    transition: all .3s;
  }

  &__buy-line::after,
  &__buy-line::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #ececec;
    top: 10px;

  }

  &__buy-line::after {
    left: 70px;
  }

  &__buy-line::before {
    right: 70px;
  }

  &__link {
    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    path {
      fill: $accent;
    }
  }

  &__item-img {
    object-fit: cover;
  }


  &:hover {
    .product__user {
      transform: translateY(0);
    }
  }

  &__title {
    font-size: 22px;
    color: $default;
    margin-bottom: 17px;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;

  }

  &__new-price {
    padding: 0 12px;
    color: $default;
  }

  &__old-price {
    padding: 0 12px;
    color: #e7e7e8;
    text-decoration: line-through;
  }

  &__link-more {
    @extend %link-more;
  }

  &--sail {
    .product__item-box::before {
      content: "sale";
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }

  &__rating {
    margin: 0 auto;
    margin-bottom: 16px;

  }
}

.promo {
  background-image: url(../images/promo-bj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 150px 160px;
  text-align: center;

  &__subtitle {
    text-transform: uppercase;
    color: $accent;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
    margin: 55px 0 30px;
  }

  &__timer-units {
    border-radius: 50%;
    background-color: #fff;
    width: 120px;
    height: 120px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    span{
      font-size: 48px;
      @extend %roboto-700;
      margin: 10px 0 7px;
    }
  }


  &__inner {
    margin-left: auto;
    max-width: 570px;
    width: 100%;
  }

  &__link-more {
    @extend %link-more;
  }
}

.partners {
  padding-top: 75px;

  &__list {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@import 'media';