@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;
  padding-bottom: 400px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex
  }

  &__item:not(:last-child) {
    padding-right: 35px;
  }

  &__link {
    color: $default;
    text-transform: uppercase;
    transition: color .3s;
    @extend %roboto-400;

    &:hover {

      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %quicksand-500;
  }
}

.user {
  display: flex;

  &__link+.user__link

  /* :not(:last-child) */
    {
    padding-left: 25px;
  }

  &__link {
    position: relative;
  }

  &__numb {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $accent;
    color: #FFFFFf;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    top: -9px;
    right: -11px;
  }
}

.footer {
  background-color: $bg;
}

.footer-up {
  display: flex;
  padding: 70px 0 35px;
  /*  grid-template-columns: 240px 147px 122px 470px;  */
  border-bottom: 1px solid $gray;

  &__item--address {
    margin-right: 60px;
    max-width: 240px;
  }

  &__item--about {
    margin-right: 55px;
    max-width: 149px;
    width: 100%;
  }

  &__item--account {
    max-width: 123px;
    width: 100%;
    margin-right: 75px;
  }

  &__text,
  &__form-input,
  &__item--account,
  &__item--about,
  &__item--address {
    line-height: 36px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__logo {
    margin-bottom: 33px;
  }

  &__title {
    font-size: 22px;
    line-height: 1;
    @extend %roboto-400;
    margin-bottom: 39px;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__icon:not(:last-child) {
    margin-right: 30px;
  }

  &__form-btn {
    text-transform: uppercase;
    color: azure;
    border: none;
    padding: 15px 26px;
    background-color: $accent;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
  }


  &__link {
    transition: all 0.3s;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__form-input {
    max-width: 318px;
    width: 100%;
    border: none;
    padding: 10px 12px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__cards {
    display: flex;
    height: 25px;
    align-items: center;
  }

  &__img:not(:last-child) {
    margin-right: 25px;
  }
  &__accept{
    margin-right: 15px;
  }
}



@import 'media';